<div data-syringe-add="machete.$els.sp" class="animated bounceInDown global_panel row">
	<div class="spinner-wrapper">
		<i class="fa fa-cog"></i>
	</div>
</div>

<!-- <div data-syringe-add="machete.$els.cn" class="count hidden animated"><span>Cached</span></div> -->
<div><h1>SONOS Dev-OPS Dashboard</h1></div>

<div data-syringe-add="machete.$els.tb" class="hidden animated">
	<div class="grid" style="background-color:#FFFFFF"></div>
</div>	