<div data-syringe-add="machete.$els.sp" class="animated bounceInDown global_panel row">
	<div class="spinner-wrapper">
		<i class="fa fa-cog"></i>
	</div>
</div>

<!-- <div data-syringe-add="machete.$els.cn" class="count hidden animated"><span>Cached</span></div> -->

<div data-syringe-add="machete.$els.tb" class="hidden animated">
	<div class="grid"></div>
</div>	