<div data-syringe-add="machete.$els.sp" class="animated bounceInDown global_panel row">
	<div class="spinner-wrapper">
		<i class="fa fa-cog"></i>
	</div>
</div>

<div data-syringe-add="machete.$els.cn" class="count hidden animated"><span>Cached</span></div>

<div data-syringe-add="machete.$els.tb" class="hidden animated">
	<table>
		<colgroup>
			<col width="14%">
			<col width="14%">
			<col width="30%">
			<col width="10%">
			<col width="15%">
			<col width="8%">
			<col width="9%">
		</colgroup>
		<thead>
			<tr>
				<th><input data-syringe-add="machete.$els.in" placeholder="Name" type="text" /><i title="Clear filter" class="fa fa-times"></i></th>
				<th>DNS</th>
				<th>ELB</th>
				<th>IP Address</th>
				<th>Version</th>
				<th>Status</th>
				<th>PubSub Info</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>	