<dialog class="{{#if class}}{{class}} {{/if}}outer{{#if background}} opaque{{/if}}" open>
	<div class="inner{{#if foreground}} opaque{{/if}}" style="{{#if height}}height:{{height}};{{/if}}{{#if width}}width:{{width}};{{/if}}">{{{html}}}</div>
</dialog>